*{
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
}
body {
    padding: 0;
    margin: 0;
    background-color: #ebe5e3;
}
.container{
    display: flex;
}
#secao-tabela{
    display: block;
    justify-content:space-evenly;
    width:100%;
    margin-left: 20px;

}
table{
    width: 100%;
    min-width: 600px;
}

thead td {
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
}
tbody tr td{
    vertical-align: top;
    height: 20px;
    border-bottom: 1px solid hsl(0, 0%, 51%);
}
form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    max-width: 220px;
    display: flex;
    flex-direction: column;s
}

h1 {
    margin-bottom: 20px;
    margin-left: 20px;
    color: #3a4646;
}

input, textarea, button {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid;
}
button{
    cursor: pointer;
}

input:hover, textarea:hover, input:focus, textarea:focus, button:hover {
    border-color: #000066;
    box-shadow: 5px 0px 9px #8295e9;
    background-color: #ebe5e3af;
    color: black;
    font-weight: bold;
}

.enviar {
    background-color: #66FFFF;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}

textarea {
    width: 200px;
    height: 120px;
    line-height: 20px;
    max-width: 200px;
    max-height: 200px;
}

form label {
    margin-left: 20px;
    color: #FFFFFF;
    font-weight: bold;
}