*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #acaaaa;
}

ul li{
    padding: 8px;
}
section{
    padding: 20px 0;
    display: block;
    align-items: center;
    background-color: rgb(78, 63, 218);
}

form input,
form button{
display: block;
width: 320px;
margin-bottom: 8px;
padding: 8px;
}

.message{
    color: #FFFF;
    display: none;
}