*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}
header{
    margin-bottom: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form{
    margin-bottom: 20px;
}
form input,
form button{
    height: 40px;  
}
form input{
    width: 250px;
    font-size: 20px;
}
form button{
    width: 100px;
    font-weight: bold;
    background-color: aliceblue;
    border-radius: 3px ;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

li{
    height: 24px;
    cursor: pointer;
}