html{
    box-sizing: border-box;
    justify-content: center;
}
.container-geral{
    max-width: 1920px;
}
.navbar-nav .nav-link.active {
    color: #fff;
    background-color: #8654cd;
}
#cabecalho{
    z-index:6;
}
.carousel-inner{
    max-height: 500px;
}
.carousel-inner img{
    object-fit: contain;
}
.navbar{
    background-color: #190a3a;
    color: #fff;
}
.nav-link {

    text-align: center;
    color: #fff
}
.nav-pills > .nav-link,
button.navbar-toggler{
    background-color: #8654cd;
}

#produtos-nav1.active,
#produtos-nav2.active,
#produtos-nav3.active{
    background-color: #32204dfb;
    color: #FFF;
}
.carousel-item img{
    margin: auto;    
}

.carousel-control-next, .carousel-control-prev{
    width: 40%;
}
.card-text{
    font-weight: bold;
}
.card-body > span{
    color:#10ba78 ;
    font-weight: bold
}
.carousel-control-next-icon,
.carousel-control-prev-icon,
.carousel-indicators #btn1,
.carousel-indicators #btn2,
.carousel-indicators #btn3{
    background-color: #000 ;
}
section {
    background-color: #fff;
    padding-top: 16px;
}
header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
}
.btn{
    background-color: #8654cd;
    color: #fff;
}
h2{
    margin-left: 50px;
}
